// Font weights
$light-weight: 300;
$normal-weight: 400;

// Font sizes
$font-size-xlarge: 40px;
$font-size-large: 30px;
$font-size-regular: 20px;
$font-size-small: 15px;

$base-line-height: 25px;

// Base Font
$base-font-family: 'Rubik',
sans-serif;

// colors
$dark: #2d3236;
$blue: #215398;
$white: #fff;
$grey: #808080;
$pearl: #f5f5f5;
$orangared: #ff3859;